*
	box-sizing: border-box

body
	font-family: 'Roboto Condensed', sans-serif

img
	max-width: 100%

h1
	font-size: 18px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase

h2
	font-size: 24px
	line-height: 14px
	text-transform: uppercase
	color: $grey-color
	padding-bottom: 20px	

h3
	font-size: 12px
	line-height: 12px
	text-transform: uppercase
	color: $grey-color

p
	font-size: 12px
	line-height: 12px	

a
	text-decoration: none

.view
	&-holder
		padding-left: 22px
	&-btn
		font-size: 18px
		font-weight: 300
		line-height: 12px
		text-transform: uppercase
		position: relative
		color: $grey-color
		padding-left: 5px
		&::after
			content: url('../pic/arrow-icon-orange.svg')
			position: absolute
			right: 100%
			top: 50%
			margin-top: -10px
			transition: all .3s ease-in-out
		&:hover::after
			transform: rotate(90deg)

.icon
	display: inline-block
	vertical-align: middle
	&-heart.dark::after
		content: url('../pic/heart-dark.svg')
	&-heart.light::after
		content: url('../pic/heart-light.svg')							

.cols
	display: flex
	align-items: stretch
	flex-wrap: wrap

.row
	display: flex
	align-items: stretch
	flex-wrap: wrap
	width: 100%

.col
	position: relative
	&-100
		width: 100%
	&-70
		width: 70%
	&-50
		width: 50%	
	&-30
		width: 30%
	&-content
		display: flex
		align-self: stretch
		width: 100%
		position: relative
		z-index: 2

.bg
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	background-size: contain
	background-repeat: no-repeat
	z-index: -1		
		
.text
	&-item
		font-size: 12px
		line-height: 12px
		text-transform: uppercase
		color: $grey-color
		strong
			font-weight: bold
.likes
	&-number
		display: block
		color: $red-color
		padding-top: 5px
		font-size: 11px
		line-height: 12px
		text-transform: uppercase				

.cell
	&-text
	&-link
	&-likes
		padding-left: 60px	