.left-side
	+media(1280)
    	width: $w100

.right-side
	+media(1280)
    	width: $w100 

/*---------------------------------------*/
.hero
	background-color: $green__1
	+media(767)
    	width: $w100
	.col
		&-inner
			height: $h500
		&-content
			flex-direction: column
			align-items: end
	.social
		&-list
			text-align: center
			padding: 50px 0 0 0
		&-link
			color: $blue-color
			font-size: 22px
			padding: 6px	
						

.hero-text
	flex-direction: column
	padding: 50px 0
	width: 50%
	margin-left: 50%
	&__title
		align-self: start

.hero-img
	justify-content: end
	align-items: center
    			
    			
	
/*---------------------------------------*/

/*---------------------------------------*/

/*---------------------------------------*/		

/*---------------------------------------*/
.contact
	background: linear-gradient(to top left, $blue-bg calc(50% - 1px), #fff, $blue-bg calc(50% + 1px) )
	color: $white-color
	+media(767)
    	width: $w100
	.col
		&-inner
			height: $h500
		&-content
			align-items: end
			padding: 40px 60px
			
.address
	font-size: 13px
	font-weight: 400
	line-height: 14px
	text-transform: uppercase
	&-info
		margin-bottom: 40px
	&-contact
		margin-left: 80px				
/*---------------------------------------*/

/*---------------------------------------*/
.p-col
	background: linear-gradient(to top left, $yellow-bg calc(50% - 1px), #fff, $yellow-bg calc(50% + 1px) )
	width: $w45
	+media(767)
    	width: $w100
	.col
		&-inner
			height: $h500
			flex-direction: column 
			align-items: center
			justify-content: center
			padding-right: 45px
			
	.title
		color: $white-color	
		width: 100%
		text-align: right
	.strong
		font-size: 48px
		font-weight: 400
		text-transform: uppercase
.project
	&-wrap
		margin: 0 70px 70px 0
	&-list
		text-align: left
	&-link
		color: $white-color
		font-size: 13px
		font-weight: 400
		line-height: 14px
		text-transform: uppercase
		position: relative
		padding: 0 10px
		&::after
			content: url('../pic/arrow-icon-white.svg')
			position: absolute
			right: 100%
			top: 50%
			margin-top: -10px
			transform: scale(0)
			transition: transform .5s ease	
		&.active
			color: $black-color
			&::after
				transform: scale(1)
		&:hover::after
			transform: scale(1)			
/*---------------------------------------*/
		
/*---------------------------------------*/
.fondue
	background-color: $white-bg
	background-position: 100% 0
	width: $w55
	+media(767)
    	width: $w100
	.col
		&-inner
			height: $h500
			justify-content: right
			align-items: center
		&-content
			width: 60%
			justify-content: space-between
			flex-direction: column
			padding: 90px 15px 70px 100px							
/*---------------------------------------*/

/*---------------------------------------*/
.louis
	background-color: $dark-bg
	width: $w30
	+media(1280)
		width: $w45
		+media(767)
			width: $w100
	.col
		&-inner
			height: $h500
			justify-content: right
			align-items: end
		&-content
			justify-content: start
			flex-direction: column
			padding: 40px 30px
	h2
		color: $white-color

	.cell
		&-link
			margin: 30px 0
	
	.text-item
		color: $white-color				
	
	.view
		&-btn
			color: $white-color

	.bg
		background-position: 100% 100%		

/*---------------------------------------*/

/*---------------------------------------*/
.p22
	background-color: $grey__3
	width: $w70
	+media(1280)
		width: $w55
		+media(767)
    		width: $w100
	.col
		&-inner
			height: $h470
			justify-content: center
			align-items: center
		&-content
			padding: 90px 70px
			justify-content: right
			align-items: start

	.cell
		&-text
			padding-right: 30px
		&-link
			text-align: center	
			
	.view-holder
		margin: 10px 0 20px 0
	.bg
		background-position: 50% 50%		
/*---------------------------------------*/		
			
/*---------------------------------------*/
.sesann
	background-color: $white-bg
	width: $w50
	+media(767)
    	width: $w100
	.col
		&-inner
			height: $h300
			justify-content: center
			align-items: start
			padding-top: 25px
		&-content
			padding: 20px 25px
			justify-content: center
			align-items: end
	.cell
		&-link
			margin-bottom: 30px
			padding-left: 50px
		
			
/*---------------------------------------*/			
			
/*---------------------------------------*/
.alessi
	background-color: $light-bg
	width: $w20
	+media(767)
    	width: $w100
	.col
		&-inner
			height: $h300
			justify-content: left
			align-items: center
		&-content
			flex-direction: column
			justify-content: right
			align-items: end	
			padding: 40px 15px 40px 20px
	.cell
		&-link
			padding: 30px 0	
/*---------------------------------------*/			

/*---------------------------------------*/
.potter
	background-color: $grey__2
	width: $w100
	order: 1
	+media(1280)
    	width: $w50
    	order: 2
	.col
		&-inner
			height: $h250
			color: $grey-color
			justify-content: right
			align-items: center
		&-content
			width: 50%
			flex-direction: column	
			padding: 35px 40px
			align-items: start
	.cell
		&-text
			p
				width: 150px
		&-link
			margin: 15px 0 25px 0
	.bg
		background-position: 100% 0%					
/*---------------------------------------*/

/*---------------------------------------*/
.tabano
	background-color: $grey__1
	width: $w100
	order: 1
	+media(1280)
    	width: $w100
	.col
		&-inner
			height: $h470
			justify-content: center
			align-items: start
		&-content
			padding: 60px 40px
			align-items: end
	.cell
		&-link
			margin-bottom: 30px
			padding-left: 25px
		&-likes
			padding-left: 20px
	.bg
		background-position: 50% 0%			

/*---------------------------------------*/

/*---------------------------------------*/
.fiji
	background-color: $white-bg
	width: $w100
	order: 1
	+media(1280)
    	width: $w50
    	order: 3
	.col
		&-inner
			height: $h250
			justify-content: left
			align-items: center
		&-content
			width: 50%
			left: 50%
			flex-direction: column
			align-items: start
			padding: 25px
	.cell
		&-link
			margin: 25px 0
			
/*---------------------------------------*/						

/*---------------------------------------*/
.timeline
	background: linear-gradient(to top left, $yellow-bg calc(50% - 1px), #fff, $yellow-bg calc(50% + 1px) )
	width: $w30
	order: 1
	.col
		&-inner
			height: $h300
			justify-content: left
			align-items: start
			flex-direction: column
			padding: 60px
.timeline
	&-title
		color: $grey-color
		font-size: 14px
		text-transform: uppercase
		padding-left: 10px
		margin-bottom: 10px			
	&-link
		color: $white-color
		font-size: 13px
		font-weight: 400
		line-height: 14px
		text-transform: uppercase
		position: relative
		padding: 0 10px
		&::after
			content: url('../pic/arrow-icon-white.svg')
			position: absolute
			right: 100%
			top: 50%
			margin-top: -10px
			transform: scale(0)
			transition: transform .5s ease	
		&:hover::after
			transform: scale(1)			
/*---------------------------------------*/

/*---------------------------------------*/		
.studio
	background: linear-gradient(to top left, $red-bg calc(50% - 1px), #fff, $red-bg calc(50% + 1px) )
	+media(767)
    	width: $w100
	.col
		&-inner
			align-items: center
			padding: 0 100px
			height: 100%
	.title
		color: $white-color
		width: 100%
		text-align: right	
	.strong
		font-size: 48px
		font-weight: 400
		text-transform: uppercase
		display: inline-block
		margin: 70px 0px 0 0		
/*---------------------------------------*/

/*---------------------------------------*/
.studio-content
	background-color: $grey__1
	+media(767)
    	width: $w100
	.col
		&-inner
			padding: 90px 80px
			flex-direction: row
	.content-wrap
		padding-right: 20px
	
	.info-text
		padding-right: 20px

.main-descr
	color: $grey-color	
	p
		padding-bottom: 25px
		font-size: 18px
		line-height: 18px
		font-style: italic

.text-descr
	color: $grey-color
	padding-top: 20px
	p
		padding-bottom: 25px
		font-size: 16px
		line-height: 18px			
.awards
	&-img
		text-align: center	
	&-info
		padding-top: 40px
		&__item
			p
				font-size: 12px
				line-height: 14px
				text-transform: uppercase
			&:nth-child(1)
				padding-right: 25px
			&:nth-child(2)
				padding-left: 25px	

.content-wrap
	padding-bottom: 25px

.border-deco
	ont-size: 14px
	font-weight: 700
	line-height: 18px
	border-bottom: 1px solid
/*---------------------------------------*/			

/*---------------------------------------*/
.staff
	background-color: $grey__1
	+media(767)
    	width: $w100
	.col
		&-inner
			padding: 60px 0 100px 0
			justify-content: right
			align-items: center
			padding-right: 35px
			height: 100%
	&-descr
		width: 65%
		h3
			font-size: 14px
		h3, p
			padding-bottom: 20px	
				
/*---------------------------------------*/

/*---------------------------------------*/
.staff-content
	background-color: $grey__1
	+media(767)
    	width: $w100
	.col
		&-inner
			padding: 60px 0 100px 0



.personal
	&-info
		padding: 20px 0
		text-align: left
		.social
			&-link
				color: $red-color
				font-size: 14px
				padding-left: 12px	
	&-title
		h3
			font-weight: 700
			font-style: 13px
		span
			font-size: 12px
			font-weight: 400
			line-height: 16px
			text-transform: uppercase
	&-links
		display: flex
		flex-direction: row
		padding-top: 20px
		.col-cv
			flex: 1
		.cv-link
			color: $red-color
			font-size: 14px
			text-transform: uppercase
			position: relative
			padding-right: 5px
			&::after
				content: url('../pic/arrow-icon-red.svg')
				position: absolute
				left: 100%
				top: 50%
				margin-top: -10px
				transition: all .3s ease-in-out
			&:hover::after
				transform: rotate(-90deg)	
		.col-social-links
			flex: 3
			text-align: right

			

/*---------------------------------------*/

/*---------------------------------------*/
.news-title
	background: linear-gradient(to top left, $green-bg calc(50% - 1px), #fff, $green-bg calc(50% + 1px) )
	+media(767)
    	width: $w100
	.col-content
		height: $h500		
/*---------------------------------------*/

/*---------------------------------------*/
.news
	background-color: $light-bg
	+media(767)
    	width: $w100
	.col-content
		height: $h500
/*---------------------------------------*/

/*---------------------------------------*/
.map
	background-color: $blue-bg
	+media(767)
    	width: $w100
	.col-content
		height: $full-height
/*---------------------------------------*/

/*---------------------------------------*/
.contact-g
	background-color: $grey-bg-light
	+media(767)
    	width: $w100
	.col-content
		height: $full-height
/*---------------------------------------*/