
.hero
	background-color: $grey-bg-light
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		+media(767)
    		height: auto
		&__inner
			align-items: start
		&__image
			width: 70%
			align-self: center
			+media(767)
    			width: $w100
		&__content
			width: 30%
			+media(767)
    			width: $w100
    			text-align: center
			&-title
				margin-left: 50%
				padding: 50px 0 0 0
				+media(1280)
    				margin-left: 0
    				padding: 50px 15px

.social
	&-list
		text-align: center
		padding: 50px 0 0 0
	&-item
		display: inline-block
	&-link
		color: $blue-color
		font-size: 22px
		padding: 6px


.contact
	background: linear-gradient(to top left, $blue-bg calc(50% - 1px), #fff, $blue-bg calc(50% + 1px) )
	color: $white-color
	+media(767)
    	width: $w100
	.col-item
		&__inner
			height: $h500
			align-items: end
		&__content
			padding: 100px 15px 100px 60px
			align-items: end
			+media(1280)
    			padding: 100px 15px

.address
	font-size: 13px
	font-weight: 400
	line-height: 14px
	text-transform: uppercase
	&-info
		margin-bottom: 40px
	&-contact
		margin-left: 80px				

.left-side
	+media(1280)
    	width: $w100

.right-side
	+media(1280)
    	width: $w100

.p-col
	background: linear-gradient(to top left, $yellow-bg calc(50% - 1px), #fff, $yellow-bg calc(50% + 1px) )
	width: $w45
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		&__inner
			align-items: center
			text-align: right
		&__content
			color: #fff
			padding: 0 50px
	.title
		display: block	
	.strong
		font-size: 48px
		font-weight: 400
		text-transform: uppercase

.project
	&-wrap
		display: inline-block
		margin-right: 50%
		margin-bottom: 70px
	&-list
		text-align: left
	&-link
		color: $white-color
		font-size: 13px
		font-weight: 400
		line-height: 14px
		text-transform: uppercase
		position: relative
		padding: 0 10px
		&::after
			content: url('../pic/arrow-icon-white.svg')
			position: absolute
			right: 100%
			top: 50%
			margin-top: -10px
			transform: scale(0)
			transition: transform .5s ease	
		&.active
			color: $black-color
			&::after
				transform: scale(1)
		&:hover::after
			transform: scale(1)			

		

.fondue
	background-color: $white-bg
	background-position: 100% 0
	width: $w55
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		&__inner
			align-items: center
			text-align: right
		&__content

	.text
		&-content
			top: 15%
			left: 15%
			bottom: 15px
	.likes
		&-counter
			position: absolute
			bottom: 70px	
			left: 60px	
		
	.view-holder
		margin-top: 70px				
			
							

.louis
	background-color: $dark-bg
	width: $w30
	+media(1280)
		width: $w45
		+media(767)
    		width: $w100
	.col-item
		height: $h470
		&__inner
			align-items: end
			text-align: right
		&__content
			color: $white-color

	.text
		&-content
			color: $white-color
			top: 40px
			left: 30px
			h2
				color: $white-color	
		&-item
			color: $white-color
					
	.view
		&-holder
			margin-top: 40px
		&-btn
			color: $white-color

	.likes
		&-counter
			position: relative
			margin-top: 30px
			margin-left: 30%	


.p22
	background-color: $grey-bg-light
	width: $w70
	+media(1280)
		width: $w55
		+media(767)
    		width: $w100
	.col-item
		height: $h470
		&__inner
			align-items: center
			text-align: center
		&__content
			

.sesann
	background-color: $white-bg
	width: $w50
	+media(767)
    	width: $w100
	.col-item
		height: $h300
		&__inner
			align-items: center
		&__content
			
			

.alessi
	background-color: $light-bg
	width: $w20
	+media(767)
    	width: $w100
	.col-item
		height: $h300
		&__inner
			align-items: center
		&__content
			


.timeline
	background-color: $yellow-bg
	width: $w30
	order: 1
	.col-item
		height: $h300
		&__inner
			align-items: center
		&__content
						

.potter
	background-color: $grey-bg-light
	width: $w100
	order: 1
	+media(1280)
    	width: $w50
    	order: 2
	.col-item
		height: $h250
		&__inner
			align-items: center
		&__content
			
			color: #fff


.tabano
	background-color: $light-bg
	width: $w100
	order: 1
	+media(1280)
    	width: $w100
	.col-item
		height: $h470
		&__inner
			align-items: center
		&__content
			

.fiji
	background-color: $white-bg
	width: $w100
	order: 1
	+media(1280)
    	width: $w50
    	order: 3
	.col-item
		height: $h250
		&__inner
			align-items: center
		&__content
						



		
.studio
	background: linear-gradient(to top left, $red-bg calc(50% - 1px), #fff, $red-bg calc(50% + 1px) )
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		&__inner
			align-items: end
		&__content
			

.studio-content
	background-color: $grey-bg-light
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		&__inner
			align-items: end
		&__content
			

.staff
	background-color: $grey-bg-light
	+media(767)
    	width: $w100
	.col-item
		&__inner
			align-items: end
		&__content
			padding: 60px 0 100px 0

.staff-content
	background-color: $grey-bg-light
	+media(767)
    	width: $w100
	.col-item
		&__inner
			align-items: end
		&__content
			padding: 60px 0 100px 0			

.news-title
	background: linear-gradient(to top left, $green-bg calc(50% - 1px), #fff, $green-bg calc(50% + 1px) )
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		&__inner
			align-items: end
		&__content
			

.news
	background-color: $light-bg
	+media(767)
    	width: $w100
	.col-item
		height: $h500
		&__inner
			align-items: end
		&__content
			

.map
	background-color: $blue-bg
	+media(767)
    	width: $w100
	.col-item
		&__inner
			align-items: end
		&__content
			height: $full-height

.contact-g
	background-color: $grey-bg-light
	+media(767)
    	width: $w100
	.col-item
		&__inner
			align-items: end
		&__content
			height: $full-height		
