.nav
  position: fixed
  display: flex
  flex-wrap: no-wrap
  justify-content: right
  top: 45px
  right: 11%
  width: auto
  height: 127px
  padding: 0
  z-index: 10
  background-color: transparent
  +media (1280)
    top: 0
    right: 0
  &-col_content
    display: flex
    overflow: hidden
    width: 0
    transition: width 0.3s ease-in
    &.active
      width: 100%
  &-col_hamburger
    display: flex 
  &-inner
    background-color: $yellow-bg-nav
    line-height: 118px
    border-top: 4px solid #e9eae2
    border-bottom: 4px solid #e9eae2
    border-left: 4px solid #e9eae2
    transform: translateX(200%)
    transition: transform 0.3s ease-in
    &.active
      transform: translateX(0)
  &-list
    text-align: right     
    li
      display: inline-block
      padding: 0 30px 
  &-link
    font-size: 14px
    color: $white-color
    text-transform: uppercase
    text-decoration: none     


.hamburger
  height: 127px
  width: 130px
  display: flex
  align-items: center
  justify-content: center
  border: 4px solid #e9eae2
  position: relative
  z-index: 10
  background: transparent
  overflow: hidden
  background: transparent
  transition: background-color .3s ease-in-out
  &:hover
    background-color: $yellow-bg-nav
  &__line    
    height: 3px
    width: 100%
    background: #e9eae2
    display: block
  &-btn
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 42px
    height: 21px
    cursor: pointer
    position: relative
    z-index: 1

.to-down
  background-color: rgba(239, 188, 62, 0.75)